body {
  position: absolute;
  background-color: green;
  overflow: hidden;
  margin: 0;
}

#player {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  text-align: center;
  z-index: 5;
}


.enemy {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: white;
  text-align: center;
  z-index: 4;
  color: black;
  top: 0;
  left: 0;
}

.menus {
  position: absolute;
  background-color: black;
  color: white;
  height: 20px;
  width: 400px;
  text-align: center;
  z-index: 20;
}

#options {

}

#inventory {

}

.menuBox {
  display: none;
  width: 100%;
  height: auto;
  background-color: fuchsia;
  z-index: 21;
  padding: 1px 0 1px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.menuBox ul {
  list-style: none;
}

#opBox {
}

#invBox {

}
