<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AnGame</title>
     <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script.js"></script>

  </head>
  <body ng-app="game" ng-controller="gameCtrl" ng-keydown="keyHandler($event)" tabindex="0" ng-init="init()">
    <div id="player"></div>
    <div class="menus" id="options" ng-click="menuToggle(79)">Options (O)</div>
    <div class="menus" id="inventory" ng-click="menuToggle(73)">Inventory (I)</div>
  </body>
</html>
