body {
  position: relative;
  background-color: green;
  overflow: hidden;
}

#player {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  text-align: center;
  z-index: 5;
}

.menus {
  position: absolute;
  background-color: black;
  color: white;
  height: 20px;
  width: 400px;
  text-align: center;
  padding: 3px 3px 0 3px;
  z-index: 20;
}

#options {

}

#inventory {

}
